
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(https://i.pinimg.com/originals/4a/94/26/4a94268541d7a0ed95a8be5138e8a288.jpg);
    margin-top: 33px;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 999px;
    min-height: 1040px;
    margin: auto;
    background: rgb(210, 250, 250, .33);
    border-radius: 10px;
    box-shadow: -4px -4px 12px black; 
}

.header {
    display: flex;
    height: 177px;
    border-radius: 10px;
}

.profile-photo {
    display: flex;
    width: 15%;
    height: 90%;
    margin: auto;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;  
    background: url(https://i.work.ua/sent_photo/8/f/7/8f78a83e06b712c317e9cbbe3618f3a3.jpg) no-repeat center center / cover; 
    box-shadow: -2px -2px 6px black;
}

.hat {
    display: flex;
    width: 85%;
    height: 90%;
    margin: auto;
    border-radius: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1621839673705-6617adf9e890?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80) no-repeat center center / cover;
    color: white;
    text-shadow: 2px 2px 6px black;
    box-shadow: -2px -2px 6px black;
}

.navbar ul {
    display: flex;
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: -2px -2px 6px black;
    justify-content: center;
    align-items: center;
}


.navbar li {
    list-style-type: none; 
}

.navbar li a {
    padding: 17px;
    display: flex;
    text-decoration: none;
    font-weight: bold;  
    margin-right: 60px;
}

.navbar li a:hover {
    background-color: rgba(150, 100, 241, 0.666);
    border-radius: 10px;
    transition: 0.404s;
    transform: scale(1.21);
}

.page {
    display: flex;
    background-color: rgb(240, 250, 250, .8);
    width: 65%;
    min-height: 700px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 700px;
    padding-left: 22px;
    padding-right: 15px;
    font-size: medium;
    font-weight: bold;
}

.sidebar {
    display: flex;
    background-color: rgb(240, 250, 250, .8);
    width: 35%;
    margin: auto;
    border-radius: 10px;
    min-height: 700px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: left;
}

.downcontent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dwncont {
    display: flex;
    background-color: rgb(240, 250, 250, .8); ;
    max-width: 999px;
    height: 77px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.bot img {
    display: block;
    margin: 0 auto; 
}

.list {
    margin-top: 5px;
    line-height: 35px;
    font-size: medium;
    font-weight: bold;
    margin-left: -20px;
}

.skills {
    margin-left: 20px;
}

button {
    height: 40px;
    width: 404px;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
}

button:hover {
    background-color: rgb(189, 130, 243);
    transform: scale(1.2);
    transition: 0.77s;
    font-size: medium;
    font-weight: bold;
}
