body {
    background-color: rgb(165,42,42);
    padding: 20px;
}

.container {
    background-color: rgb(255, 255, 255);
    height: 650px;
    width: 920px;
    margin: auto;
    padding-top: 10px;
}

.header {
    background-color: rgb(165,42,42);
    width: 890px;
    height: 40px;
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

.img {
    margin: auto;
    margin-left: 15px;
    margin-top: 30px;
}

.pics {
    border: 3px dashed rgb(0, 0, 0);
}

.items {
    margin-left: 260px;
}

p {
    margin-left: 40px;
    max-width: 820px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

footer {
    background-color: rgb(0, 0, 0);
    width: 890px;
    height: 21px;
    margin: auto;
    text-align: center;
    font-size: 20px ;
}
