body {
    background-color: rgb(109, 89, 122);
}

.container {
    margin: auto;
    width: 700px;
    height: 910px;
    background-color: rgb(181, 101, 118);
    border-radius: 14px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: black 2px 2px 6px ;
}

.hat {
    display: flex;
    width: 98%;
    height: 100px;
    background-color: rgb(229, 107, 111);
    border-radius: 14px;
    margin: auto; 
    align-items: center;
    box-shadow: black 2px 2px 6px ;
}

.taskbar {
    display: flex;
    width: 98%;
    height: 700px;
    background-color: rgb(234, 172, 139);
    margin: auto;
    margin-top: 30px;
    border-radius: 14px;
    box-shadow: black 2px 2px 6px ;
}

.newtask {
    display: flex;
    margin: auto;
    height: 45px;
    width: 555px;
    border-radius: 14px;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
}

.submit {
    width: 90px;
    height: 50px;
    background-color: rgb(234, 172, 139);
    margin-right: 30px;
    border-radius: 14px; 
    box-shadow: black 2px 2px 6px ;   
}

.submit:hover {
    transform: scale(1.11);
    transition: 0.7s;
}

li {
    list-style-type: none;
    border: rgb(181, 101, 118) 1px solid;
    border-radius: 14px;
    height: 60px;
    width: 640px;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(250, 243, 236);
    line-height: 60px;
    margin-left: -20px;
}

h1 {
    text-align: center;
    margin-top: -10px;
}

