* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 14px;
}

.container {
    width: 90%;
    width: 1170px;
    margin: 0 auto;
}

.feachers {
    background-color: rgb(29, 28, 28);
    padding-top: 108px;
    padding-bottom: 100px;
}

.clr {
    clear: both;
}

.feature_item {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 0 20px;
}

.feature_pic {
    width: 80px;
    height: 80px;
    background-color: rgb(255,174,0);
    text-align: center;
    border-radius: 18px 0px 18px 0px;
    line-height: 80px;
    margin: 0 auto 40px;
}

.feature_pic:hover {
    background-color: rgb(255, 38, 0);
    transition: 0.7s;
    transform: scale(1.2);
}

.feature_pic img {
    display: inline-block;
    vertical-align: middle;
}

}
.feature_title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 34px;
    margin-bottom: 24px;
    font-weight: normal;
}

footer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

.footcont {
    margin: 0 auto;
    width: 270px;
    padding-top: 120px;
}

h5 {
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 18px;
    font-size: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 230px;
    letter-spacing: 1.05px;
    font-weight: 300;
}

.logos {
    padding-top: 14px;
}

.logos img {
    padding: 8px 14px 8px 14px;
}

.logos img:hover {
    background-color: rgb(25, 200, 250);
    transition: 0.5s;
    transform: scale(1.2);
    border-radius: 6px;
}

.kasper {
    padding-top: 74px;
    font-weight: 600;
}

.color {
    color: rgb(25,200,250);
    text-decoration: none;
}