body {
    background-color: rgb(18,17,22);
    margin: 0 auto;
}

footer {
    max-width: 90%;
    width: 1900px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

img {
    margin-top: 120px;
    margin-bottom: 55px;
}

img:hover {
    background-color: thistle;
    transform: scale(1.4);
    transition: 1s;
    border-radius: 7px;
}

h3 {
    color: thistle;
    height: 14px;
    width: 230px;
    margin: auto;
    border-bottom: 1px white solid;
    padding-bottom: 20px;
}
p {
    color: thistle;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

.logos {
    margin-top: -100px;
    
}

.kasper {
    text-decoration: none;
    color: rgb(51, 173, 255);
}